*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Font family Leomada */

@font-face {
    font-family: 'Lemonada Semi Bold';
    src: url('../assets/fonts/Lemonada/Lemonada-SemiBold.ttf') format('woff2');
    font-display: auto;
}

@font-face {
    font-family: 'Lemonada Normal';
    src: url('../assets/fonts/Lemonada/Lemonada-Regular.ttf') format('woff2');
    font-display: auto;
}

/* Font family Quicksand */

@font-face {
    font-family: 'Quicksand Semi Bold';
    src: url('../assets/fonts/Quicksand/Quicksand-SemiBold.ttf') format('woff2');
    font-display: auto;
}

@font-face {
    font-family: 'Quicksand Normal';
    src: url('../assets/fonts/Quicksand/Quicksand-Regular.ttf') format('woff2');
    font-display: auto;
}

:root{
    scroll-behavior: smooth;
    --amarillo:#f2cc03;
    --gris:#929294;
    --verde:#76b784;
}

#menu_principal{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:20px
}

#menu_principal div{
    background-color: rgba(255, 208, 0, 0.3);
    box-shadow: 2px 2px 10px #555;
    border-radius: 10px;
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 10px 40px;
    width: 290px;
    transition: all 400ms;
    cursor: pointer;
    backdrop-filter: blur(5px);
}

#menu_principal div:hover{
    box-shadow: 0px 0px 25px var(--amarillo);
    background-color: rgba(255, 208, 0, 0.5);
}



#menu_principal div span{
    font-size: 15pt;
    font-family: 'Annie Use Your Telescope', cursive;
    text-shadow: 2px 2px 5px #888;
    letter-spacing: 2px;
}

#menu_principal div img{
    height: 40px;
    filter: drop-shadow(2px 2px 5px #888);
}

body{
    font-family: 'Quicksand Normal';
    overflow-x: hidden;
}

/* No seleccionable */

.no-seleccionable{
    -moz-user-select: none; 
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}
