
#intro{
    height: 100vh;
    filter: sepia(0.3);
}

#intro video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#contenedorLetras{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    gap: 20px;
}

#menu_principal_footer{
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 900;
    width: 100%;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:20px;
    display: none;
    padding-bottom: 20px;
}

#menu_principal_footer div{
    background-color: rgba(255, 208, 0, 0.3);
    box-shadow: 2px 2px 10px rgb(132, 91, 1);
    border-radius: 10px;
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 10px 40px;
    width: 290px;
    transition: all 400ms;
    cursor: pointer;
    backdrop-filter: blur(5px);
}

#menu_principal_footer div:hover{
    box-shadow: 0px 0px 20px var(--amarillo);
    background-color: rgba(255, 208, 0, 0.5);
}


#menu_principal_footer div span{
    font-size: 15pt;
    letter-spacing: 2px;
    font-family: 'Cabin Sketch', cursive;
}

#menu_principal_footer div img{
    height: 40px;
}

.letras{
    filter: drop-shadow(2px 2px 5px #000);
    opacity: 0;
}

#img_you{
    filter: drop-shadow(2px 2px 5px #333);
}

#img_tiful{
    margin-left: 50px;
}

#beeyoutiful_circle{
    transition: opacity 300ms;
}


/* Contenedor uno */

#contenedor_uno{
    position: relative;
    height: 1300px;
    width: 100%;
    background-image: linear-gradient(to top, #f8dad0 0%, #fffffa 100%);
}

#contenedor_img_uno{
    width: 50%;
    height: 100%;
}

#img_uno{
    position: sticky;
    opacity: 0;
    top: 200px;
    margin-top: 100px;
    margin-left: 100px;
    width: 500px;
    height: 500px;
    background-image: linear-gradient(to bottom,rgba(248, 218, 208,0.4),rgba(255, 255, 255, 0.4)), url("../img/img_muestra_1.jpeg");
    background-size: cover;
    border-radius: 30%;
    transition: all 1s;
}


/* Contenedor dos */

#contenedor_dos{
    height: 8000px;
    width: 100%;
    background-color: #f8dad0;
    transition: background-color 200ms;
}

.showUp{
    opacity: 1 !important;
    transform: translateY(-50px);
}

.shadowFade{
    box-shadow: inset 0px 0px 15px #dabf5f, inset 0px 0px 25px #dac169,0px 0px 30px #dac169;
}

#contenedor_texto_uno{
    width: 47%;
    float: right;
    margin-top: -100px;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

#contenedor_texto_uno span{
    font-size: 22pt;
    opacity: 0;
    transition: all 1s;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.contentTextosHidden{
    position: sticky;
    margin: 0 auto;
    height: 120px;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.contentTextosHidden:nth-child(1){
    top: 300px;
}

.contentTextosHidden:nth-child(2){
    top: 420px;
}

.contentTextosHidden:nth-child(3){
    top: 540px;
}

.texto_dos{
    position: relative;
    position: absolute;
    top: 0px;
    left: 0px;
    color: #b38d02;
    font-size: 40pt;
    font-weight: bold;
}

.mask{
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(248, 218, 208, 0.7);
}



/* Contenedor tres */

#contenedor_tres{
    height: 18000px;
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
    background-color: #e7c341;
    position: relative;
}


.contenedorPanal{
    position: sticky;
    top: 340px;
    filter: drop-shadow(0px 0px 15px rgb(152, 145, 36));
}


/*
transform: matrix3d(1 /* Rotacion eje Y -> 0.2 *\/, 0 /* Rotación eje Z -> 0.2 *\/, 0 /* Estira eje X y vuelve *\/, 0 /* Rotación eje X -> 0.006 *\/, 0 /* Estira eje X en forma de paralelogramo -> 0.2 *\/, 1 /* Estira eje Y -> 2 *\/ , 0 /* Estira eje Y y vuelve *\/, 0 /* Rotación eje Y -> 0.006 *\/, 0, 0, 1 /* 0 invisible, 1 visible *\/, 0, 0 /* desplazamiento X -> 100 *\/, 0 /* desplazamiento Y -> 100 *\/, 0, 1 /* Acercamiento -> 2 *\/);
*/

#contenedorTituloTres{
    position: absolute;
    top: -300px;
    left: -100px;
    overflow: visible;
    width: 100vw;
    height: 100vh;
    min-height: 800px;
    overflow: hidden;
    z-index: -1;
}


#titulo_contenedor_tres{
    text-align: center;
    font-size: 80pt;
    z-index: 10;
    color: #6a6900;
    font-family: 'Cabin Sketch', cursive;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
}

.panal{
    width: 300px;
    height: 280px;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}

.panal:nth-child(1){
    background-image: linear-gradient(to bottom,rgba(204, 109, 0, 0.3),rgba(204, 109, 0, 0.3)), url("../img/panal1.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    transform: scale(0);
}

.panal:nth-child(2){
    background-image: linear-gradient(to bottom,rgba(204, 109, 0, 0.3),rgba(204, 109, 0, 0.3)), url("../img/panal2.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 421px;
    position: absolute;
    top: -140px;
    left: 235px;
    transform: scale(0);
}

.panal:nth-child(3){
    background-image: linear-gradient(to bottom,rgba(204, 109, 0, 0.3),rgba(204, 109, 0, 0.3)), url("../img/panal3.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 150px;
    left: 230px;
    transform: scale(0);
}


#contenedorPropiedades{
    display: flex;
    gap: 10px;
    position: absolute;
    top: -50px;
    right: -50px;
    opacity: 0;
}

.listaElementos h3{
    font-size: 30pt;
    margin-bottom: 15px;
    font-family: 'Cabin Sketch', cursive;
}

.listaElementos li{
    font-size: 25pt;
    list-style-type: '⎔ ';
}

.infoLimon{
    position: absolute;
    top: 32% !important;
    left: -100px !important;
    z-index: -1;
    padding-left: 40px;
    transition: all 400ms;
    transform: translateX(-200%);
}

.infoLimon li{
    font-size: 40pt;
    margin-bottom: 40px;
}

#formaLimon{
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
    overflow: hidden;
    border-radius: 20% 50% 20% 50% / 20% 50% 20% 50%;
    background-color: #ffc800;
    transform: translate(150%, 900px);
    transition: all 400ms;
    z-index: 20;
}


.imgLimon{
    width: 250px;
    height: 250px;
    opacity: 0;
}

.imgLimon:nth-child(1){
    background-image: linear-gradient(to bottom,rgba(214, 177, 26, 0.3),rgba(214, 177, 26, 0.3)), url("../img/limon1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.imgLimon:nth-child(2){
    background-image: linear-gradient(to bottom,rgba(214, 177, 26, 0.3),rgba(214, 177, 26, 0.3)), url("../img/limon2.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

.imgLimon:nth-child(3){
    background-image: linear-gradient(to bottom,rgba(214, 177, 26, 0.3),rgba(214, 177, 26, 0.3)), url("../img/limon3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.imgLimon:nth-child(4){
    background-image: linear-gradient(to bottom,rgba(214, 177, 26, 0.3),rgba(214, 177, 26, 0.3)), url("../img/limon4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}



/* Contenedor cuatro */

#contenedor_cuatro{
    height: 3000px;
    width: 100%;
    position: relative;
    background-image: linear-gradient(to bottom, #e7c341 0%, #c0dcbc 100%);
}

#contenedorTituloCuatro{
    position: sticky;
    top: 50px;
    overflow: hidden;
    left: 0;
    width: 100%;
    height: 400px;
    padding-top: 50px;
}

#contenedor_cuatro h2{
    font-size: 50pt;
    transition: transform 1s;
    color: #4d9244;
    font-family: 'Cabin Sketch', cursive;
    text-shadow: 2px 2px 4px rgb(20, 77, 18);
}

#contenidoRomero{
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 2000px;
    width: 100%;
    overflow: hidden;
}

#parrafo_romero{
    position: sticky;
    top: 110%;
    transform: translate(50px,0px);
    transition: transform 500ms;
    width: 70%;
}



#parrafo_romero li{
    font-size: 20pt;
    margin-bottom: 40px;
    margin-left: 20px;
    transition: transform 400ms;
    list-style-type: '⎔ ';
}

#romero_sin_fondo{
    position: absolute;
    bottom: -500px;
    right: 0px;
    transition: all 2s;
    transform: rotate(90deg);
}

#piso_tierra_sin_fondo{
    position: absolute;
    bottom: -300px;
    left: 0px;
    width: 100%;
    object-fit: cover;
    z-index: 50;
}


/* Contenedor cinco */

#contenedor_cinco{
    height: 3500px;
    width: 100%;
    position: relative;
    background-image: linear-gradient(to bottom, #fff 0%, rgb(239, 197, 119) 100%);
}

#piso_tierra_sin_fondo_invertido{
    width: 100%;
    z-index: 100;
    position: absolute;
    top: -220px;
    left: 0px;
}


#contenedorFlor{
    position: sticky;
    top: 500px;
    display: block;
    width: 250px;
    margin: 0 auto;
    margin-bottom: 220px;
    transition: all 400ms;
    transform: scale(0.2);
}

#centroFlor{
    position: absolute;
    transform: translate(0px,-200px);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: rgb(65, 23, 8);
    z-index: 20;
}


.hojaFlor{
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 0% 100% 0% 100% / 0% 100% 0% 100%;
    background-image: linear-gradient(to bottom, #f49818 0%,#efb343 100%);
    transition: opacity 1s;
    opacity: 0;
}

#hojaFlor1{
    transform: translate(-70px,-535px) rotate(40deg);
    z-index: 1;
}

#hojaFlor2{
    transform: translate(50px,-520px) rotate(65deg);
    z-index: 2;
}

#hojaFlor3{
    transform: translate(160px,-450px) rotate(95deg);
    z-index: 3;
}

#hojaFlor4{
    transform: translate(220px,-350px) rotate(120deg);
    z-index: 4;
}

#hojaFlor5{
    transform: translate(230px,-230px) rotate(145deg);
    z-index: 5;
}

#hojaFlor6{
    transform: translate(220px,-140px) rotate(160deg);
    z-index: 6;
}

#hojaFlor7{
    transform: translate(155px,-55px) rotate(180deg);
    z-index: 7;
}

#hojaFlor8{
    transform: translate(45px,10px) rotate(205deg);
    z-index: 8;
}

#hojaFlor9{
    transform: translate(-80px,25px) rotate(230deg);
    z-index: 9;
}

#hojaFlor10{
    transform: translate(-190px,0px) rotate(250deg);
    z-index: 10;
}

#hojaFlor11{
    transform: translate(-270px,-60px) rotate(270deg);
    z-index: 11;
}

#hojaFlor12{
    transform: translate(-320px,-150px) rotate(290deg);
    z-index: 12;
}

#hojaFlor13{
    transform: translate(-345px,-260px) rotate(315deg);
    z-index: 13;
}

#hojaFlor14{
    transform: translate(-315px,-370px) rotate(340deg);
    z-index: 14;
}

#hojaFlor15{
    transform: translate(-260px,-450px) rotate(360deg);
    z-index: 15;
}

#hojaFlor16{
    transform: translate(-190px,-500px) rotate(15deg);
    z-index: 16;
}

#listaElementosCalendula{
    position: absolute;
    right: 80px;
    bottom: 50px;
    width: 600px;
}

#listaElementosCalendula h3{
    font-size: 40pt;
    margin-bottom: 100px;
    font-family: 'Cabin Sketch', cursive;
}

#listaElementosCalendula li{
    font-size: 25pt;
    list-style-type: '⎔ ';
    margin-bottom: 30px;
}


/* Contenedor seis */

#contenedor_seis{
    height: 5300px;
    width: 100%;
    position: relative;
    background-image: linear-gradient(to bottom, rgb(239, 197, 119) 0%, #f4c473 100%);
    position: relative;
}


#contenedorVainilla{
    position: sticky;
    top: 100px;
    width: 100%;
    height: 600px;
    overflow: hidden;
}

#rama_vainilla{
    position: absolute;
    left: -200%;
    top: 0;
}

#flor_vainilla{
    position: absolute;
    right: -200%;
    top: 0;
}

#listaElementosVainilla{
    position: absolute;
    left: -200%;
    top: 0;
    transition: all 1s;
}

#listaElementosVainilla h3{
    font-size: 50pt;
    margin-bottom: 40px;
    font-family: 'Cabin Sketch', cursive;
}

#listaElementosVainilla li{
    font-size: 25pt;
    list-style-type: '⎔ ';
    margin-bottom: 50px;
    margin-left: 30px;
}


/* Contenedor siete */

#contenedor_siete{
    height: 1000px;
    width: 100%;
    position: relative;
    background-color: #f6e1bd;
}

#contenedor_siete h2{
    color: #df9517;
    font-size: 50pt;
    text-align: center;
    text-shadow: 2px 2px 10px #bba173;
    padding-top: 100px;
    font-family: 'Cabin Sketch', cursive;
    z-index: 10;
}

#contenedor_siete p{
    font-size: 38pt;
    margin-top: 120px;
    margin-left: 300px;
    width: 500px;
}

#contenedor_siete video{
    width: 320px;
    position: absolute;
    top: 300px;
    right: 300px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px #a89472;
}


@media screen and (max-width: 780px){
    .letras{
        height: 70px;
        opacity: 1;
    }

    #img_uno{
        width: 90%;
        height: 400px;
        margin-left: 20px;
        display: none;
    }
    #contenedor_texto_uno{
        width: 100%;
        padding: 100px 60px;
        text-shadow: 1px 1px 2px #fff;
    }

    #contenedorLetras{
        width: 100%;
        gap: 0px;
    }

    #img_bee{
        width: 170px;
        height: 100px;
        transform: translate(-10px,0px);
    }

    #img_you{
        width: 100px;
        height: 40px;
        transform: translate(-20px,100px);
    }

    #img_tiful{
        width: 100px;
        height: 60px;
        margin-left: 0;
        transform: translate(-20px,150px);
    }

    #contenedor_texto_uno{
        margin-top: 100px;
    }

    .texto_dos{
        font-size: 20pt;
        font-weight: 400;
    }

    #titulo_contenedor_tres{
        font-size: 30pt;
        left: -70px;
        min-width: 300px;
        overflow: hidden;
        white-space: inherit !important;
        margin-top: 50px;
    }

    .contenedorPanal{
        top: 285px;
    }

    .panal{
        opacity: 0.3;
    }

    #contenedorPropiedades{
        top: -100px;
        left: -40px;
        width: 150%;
        gap: 20px;
    }

    .listaElementos h3{
        font-size: 23pt;
    }

    .listaElementos li{
        font-size: 18pt;
    }

    .infoLimon{
        top: 60% !important;
        overflow: hidden;
    }

    .infoLimon li{
        font-size: 22pt;
        margin-bottom: 10px;
        white-space:nowrap;
    }

    #formaLimon{
        width: 180px !important;
        height: 180px !important;
    }
    
    .imgLimon{
        width: 90px;
        height: 90px;
    }


    #romero_sin_fondo{
        display: none;
    }

    #piso_tierra_sin_fondo{
        bottom: 0;
    }

    #contenedorFlor{
        top: 380px;
    }

    #listaElementosCalendula{
        right: 0px;
        bottom: 90px;
        width: 100vw;
    }
    
    #listaElementosCalendula h3{
        font-size: 40pt;
        margin-left: 30px;
    }
    
    #listaElementosCalendula li{
        font-size: 18pt;
        margin-left: 50px;
        margin-bottom: 30px;
    }


    #listaElementosVainilla h3{
        font-size: 35pt;
        margin-bottom: 40px;
        padding-top: 40px;
    }

    #listaElementosVainilla li{
        margin-bottom: 20px;
        font-size: 20pt;
        margin-left: 10px;
    }

    #contenedor_seis{
        height: 1800px;
    }

    #contenedorVainilla{
        height: 100vh;
        top: 50px;
    }

    #flor_vainilla{
        left: 50px;
        width: 300px;
        opacity: 0.7;
    }

    #rama_vainilla{
        left: 50px;
        width: 300px;
        opacity: 0.4;
    }

    #contenedor_siete{
        height: 100%;
        padding-bottom: 200px;
        overflow: hidden;
    }

    #contenedor_siete video{
        width: 80%;
        position: relative;
        margin: 0 auto;
        margin-top: 100px;
        top: -40px;
        right: -50px;
    }

    #contenedor_siete h2{
        font-size: 35pt;
    }

    #contenedor_siete p{
        font-size: 20pt;
        margin-top: 10px;
        margin-left: 30px;
        width: 100%;
        padding-right: 40px;
    }

    /* Cambio de height contenedores */

    #contenedor_dos{
        height: 2600px;
    }

    #contenedor_tres{
        height: 4500px;
    }

    #contenedor_cuatro{
        height: 1500px;
    }

    #contenedor_cinco{
        height: 2200px;
    }
}


@media screen and (min-width: 1600px){

    #contenedor_siete{
        height: 100vh;
    }
    #contenedor_siete p{
        margin-left: 17%;
    }

    #parrafo_romero li{
        font-size: 30pt;
        margin-bottom: 10px;
    }
}


@media screen and (max-width: 400px){
    .letras{
        height: 45px;
    }
}